// Colors (Style Guide)
$paua: #0cbabb; /* dark af blue */
$blue-gem: #0cbabb; /* kinda blue kinda purple */
$slate-blue: #0cbabb; /* purple */
$medium-purple: #0f9bbf; /* light purple */
$mauve: #c596fe; /* lighter purple */
$blue-chalk: #f9bfcb; /* even lighter purple */
$turquoise-blue: #70d0e0; /* light blue */
$light-cyan: #c7fffb; /* light ass blue */

// Default Letter Spacing
$logo-tracking: 75;

// Typography
$base-font: 'Roboto';
$sub-font: 'Roboto Mono';