.btn {
    color: white;
    border: none;
    background-color: #0cbabb;
    border-color: #0cbabb;
    height: 2.5em;
    text-align: center;
    line-height: 0 !important;
  }
  .btnRegisterText {
    font-size: 0.8em;
    font-weight: 600;
  }
  .a:hover {
    background-color: #f9bfcb;
    color: #0cbabb;
  }