.container {
  position: absolute;
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  top: 30px;
  left: 30px;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  .left,
  .right,
  .bottom {
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-sizing: border-box;
  }

  .left {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 100%;
      object-fit: contain;
      &:first-child {
        width: auto;
        height: 300px;
      }
    }
  }
  .right {
    grid-area: 1 / 2 / 3 / 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .bottom {
    grid-area: 3 / 1 / 4 / 4;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 315px;

    div {
      &:not(:last-child) {
        margin-right: 30px;
      }

      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .before,
  .after {
    opacity: 0.5;
  }

  .events {
    padding: 0 4em;
  }

  .eventsMeta {
    display: block;
    flex: 1;

    h1 {
      font-size: 3rem;
      color: var(--black-text);
      margin-top: 1em;
    }

    .clock {
      font-size: 7em;
    }

    p {
      font-size: 3em;
    }
  }

  .current {
    font-weight: bold;
    position: relative;

    &:before {
      content: '>';
      position: absolute;
      top: 0.3em;
      font-size: 2em;
      left: -2ch;
    }
  }

  .event {
    font-size: 1.5rem;

    .eventTitle {
      font-weight: bold;
    }

    .eventTime {
      font-style: italic;
    }
  }
}
