.aboutSection {
  min-height: 0;
  color: #333333;
}

.title {
  font-size: 1.75rem;
  font-size: 30px;
  font-family: var(--alt-font);
}

.body {
  font-size: 18px;
  font-family: var(--font-family);
}

.socialMediaIcons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.socialMediaIcons i {
  padding-right: 2em;
  font-size: 2em;
  color: #0cbabb;
}

.socialMediaIcons i:hover {
  color: #f9bfcb;
}
