:root {
  --orange-1: #c85227;
  --orange-2: #e76f24;
  --orange-3: #f58023;
  --yellow-1: #faa731;
  --yellow-2: #fbbc17;
  --yellow-3: #ffcf45;
  --green-1: #57b086;
  --green-2: #75c69e;
}


/*gradient-background*/
html,
body {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  margin: 0;

  /*Fallback if gradients don't work */
  background: linear-gradient(to right, #fff 0%, transparent 100%), linear-gradient(#EF7B23, #E15716);
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, linear-gradient(#EF7B23, #E15716)
    );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .videoContainer {
  position: relative;
}

.videoBackground {
  position: fixed;
  z-index: -100;
} */


#nav-dropdown{
  color: black;
  font-weight: bold;
  background-color: #F3681F;
  width: 500px;
  text-align: left;
}

#dropdown-item {
  background-color: #FEA55B;
  color: black;
  border-radius: 3;
  width: 500px;
  margin-top: 20px;
  text-align: left;
}

#dropdown-item a:hover {
  background-color: #F3681F !important;
}
#dropdown-item a:active {
  background-color: #F3681F !important;
  color: black;
}
#dropdown {
  margin-left: 300px;
  margin-top: 100px;
  border: "5px 5px 0 0";
  outline: none;
}

