.eventsContainer {
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
  height: 46em;
}

.containerTitle {
  color: #0cbabb;
  font-size: 1.5vw;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.dashboardEvent {
  border-radius: 1em;
  background-color: #ffffff;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}

.eventTitle {
  color: #0cbabb;
}

.eventDescription {
  color: #0cbabb;
}
