.landingContainer {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  color: white;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 0.5em;
    padding: 0.5em 0;
    font-size: 2em;
  }

  h2,
  h1 {
    font-weight: normal;
  }

  h2 {
    margin: 0;
  }

  p {
    text-align: center;
    margin: 1em 0;
    font-size: 1.125rem;
  }

  img {
    max-width: 195px;
    width: 90%;
  }
}

.logoBar {
  display: inline-block;
  font-weight: bold;
  transform: scaleY(2);
}

.footer {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 720px) {
    flex-direction: column;
  }
  a {
    color: var(--orange-1);
  }

  &:last-child {
    margin-bottom: 3em;
  }
}

.registrationButton {
  color: var(--orange-2);
  font-family: var(--alt-font);
  background: white !important;
  text-align: center;
  margin-bottom: 3em;
}

.registrationButton:focus,
.registrationButton:hover {
  opacity: 0.75;
  color: var(--orange-2);
}
