:root {
  /* RP Colors */
  --orange-1: #c85227;
  --orange-2: #e76f24;
  --orange-3: #f58023;
  --yellow-1: #faa731;
  --yellow-2: #fbbc17;
  --yellow-3: #ffcf45;
  --green-1: #57b086;
  --green-2: #75c69e;

  /* Font Colors */
  --black-text: rgb(0, 0, 0);
  --text-color: rgb(102, 112, 138);
  --text-color-lighter: rgba(102, 112, 138, 0.6);

  /* UI */
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --shadow: 0 2.3px 0.8px -16px rgba(0, 0, 0, 0.01),
    0 5.4px 1.9px -16px rgba(0, 0, 0, 0.015),
    0 9.7px 3.5px -16px rgba(0, 0, 0, 0.018),
    0 16.1px 5.8px -16px rgba(0, 0, 0, 0.022),
    0 26.5px 9.5px -16px rgba(0, 0, 0, 0.025),
    0 46.2px 16.6px -16px rgba(0, 0, 0, 0.03),
    0 100px 36px -16px rgba(0, 0, 0, 0.04);

  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
